*{
    font-family: sans-serif;
    font-weight: 100;
}

body {
    background: radial-gradient(circle, #fff, #bbb);
}


.div-responsive {
    background: #c95;
}

@media screen and (min-width: 400px) and (max-width: 800px) {
    .div-responsive {
        background-color: rgb(235, 15, 15);
    }
    
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    .div-responsive {
        background-color: rgb(15, 103, 235);
    }
    
}

@media screen and (min-width: 1200px) {
    .div-responsive {
        background-color: rgb(207, 17, 112);
    }
    
}
