body {
    background: radial-gradient(circle,#fff,#bbb);
    padding: 15px;
}
.grid-container{
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min-content,200px));
        grid-template-rows: repeat(3, 150px); 
        grid-column: 30px;
      
}
.grid-item{
    border: 1px solid#000
}

.grid-item:first-child{
    align-self: start;
    justify-self: start;
    
}

.grid-item:nth-child(2){
    place-self: start end;
    

}