*{
    font-family: "Sen", sans-serif;
    font-weight: 100;
}

.container{
    filter: contrast(30);
    background-color: #fff;
}

.caja {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: rgb(5, 129, 245);
    border-radius: 50%;
    margin: 40px;
    filter: blur(20px);
    
}

.caja:first-child{
    animation: trasladar 2s alternate infinite;
}

@keyframes trasladar {
    0% {
        transform: translate(0);
    }

    100% {
        transform:translate(160px);
    }
}